@charset "utf-8";
/* CSS Document */

div ul li {
	margin: 5px;	
}

div ul li:hover {
	background-color:#2D49A3;
	color:white;
}

.dropdown {
	margin:5px;	
}

.label {
	margin: 5px;
	margin-top:10px;
}

#startBtn {
	margin: 10px auto;	
}

#tabContent1 {
	border: 1px solid #D8D8D8;	
}
